<!DOCTYPE html>
<html ng-app="AniON">
	<head>
		<!-- 로딩중에 {{}}가 보이므로, ng-bind를 이용 -->
		<title ng-bind="title">Ani-ON</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta name="author" content="Zn">
		<meta name="description" content="Ani-ON">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/anion.css">
		<link rel="apple-touch-icon" href="img/anion.png">
		<link rel="icon" href="img/anion.png">
	</head>
	<body>
		<div id="titlebar" class="titlewrap" ng-controller="TitlebarCtrler">
			<div class="titleinwrap">
				<div class="titlebar">
				    <a id="left-button" class="button" style="visibility:hidden"></a>
				    <!--
					<a id="left-button" class="button" ng-click="goBack($event)">
						<img alt="메뉴" height="20" src="img/left.svg">
					</a>
					-->
					<div class="title">Ani-ON</div>
					<a id="right-button" class="button" ng-click="toggleMenu($event)">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div class="menuwrapper">
					<div id="menu" ng-show="menuVisible">
						<!--
						<div id="today"><span class="date"></span></div>
						-->
						<div class="search-outer">
							<div id="search">
								<form id="searchform" ng-submit="searchAniList($event)">
									<div class="query">
										<input type="search" name="q" placeholder="검색" ng-model="formdata.query">
									</div>
									<div class="submit">
										<button type="submit"><i class="fa fa-search"></i></button>
									</div>
								</form>
							</div>
						</div>
						<div class="menu-main">
							<!--
							<a class="menu-item">차기 방영예정</a>
							-->
							<select id="ani-genres-select" ng-model="selectedGenre" ng-change="showByGenres($event)">
								<option value="" selected>요일별 목록</option>
								<option ng-repeat="genre in aniGenres track by $index" value="{{genre}}">
									{{ genre }}
								</option>
							</select>
						</div>
						<hr class="divider">
						<div class="menu-anilist-more">
							<div style="display:table-row">
								<a href="#/" class="menu-item" ng-class="{highlight: currentWeekday === 7}" ng-click="showWeekday($event, 7)">외전/극장판</a>
								<div class="divider"></div>
								<a href="#/" class="menu-item" ng-class="{highlight: currentWeekday === 8}" ng-click="showWeekday($event, 8)">신작</a>
								<div class="divider"></div>
								<a href="#/" class="menu-item" ng-class="{highlight: currentWeekday === 9}" ng-click="showWeekday($event, 9)">종영</a>
							</div>
						</div>
						<hr class="divider">
					</div>
					<nav class="weekdaybar">
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 0}" ng-click="showWeekday($event, 0)">일</a>
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 1}" ng-click="showWeekday($event, 1)">월</a>
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 2}" ng-click="showWeekday($event, 2)">화</a>
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 3}" ng-click="showWeekday($event, 3)">수</a>
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 4}" ng-click="showWeekday($event, 4)">목</a>
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 5}" ng-click="showWeekday($event, 5)">금</a>
						<a href="#/" class="weekday" ng-class="{highlight: currentWeekday === 6}" ng-click="showWeekday($event, 6)">토</a>
					</nav>
				</div>
			</div>
		</div>
		<main id="main" ng-controller="MainViewCtrler">
			<div id="loading" ng-if="loading">
				<img src="img/puff.svg">
			</div>
			<ng-view></ng-view>
		</main>
		<footer>
			<noscript class="warning">현재 자바스크립트가 꺼져있거나, 지원하지 않는 웹 브라우저라서 기능이 동작하지 않을 수 있습니다.<br><a href="http://www.enable-javascript.com/ko/">자바스크립트를 켜주세요.</a></noscript>
			<p>
				Ani-ON: Yet another anime time-table.<br>
				Powered by: Node.js, PostgreSQL, Angular.js<br>
				API: <a href="http://www.anissia.net/?m=3">Anissia</a>
			</p>
		</footer>
		<script type="text/x-template" id="T-anilist">
			<div id="ani-list" ng-controller="AniListCtrler" ng-init="init()">
				<a href="#/ani/{{ani.id}}" class="item" ng-repeat="ani in anis" title="{{ani.json}}">
					<div class="title" ng-bind-html="ani.title | highlight:ani.query"></div>
					<div class="info">
						<span class="weekday" ng-if="ani.amode != 'w'">{{ani.weekday | weekday}}</span>
						<span class="time" ng-if="ani.weekday < 7">{{ani.time | time4}}</span>
						<span class="time" ng-if="ani.weekday == 7 || ani.weekday == 8">{{ani.startdate | date8}}</span>
						<span class="time" ng-if="ani.ended">| {{ani.startdate | date8}} ~ {{ani.enddate | date8}}</span>
						<br>
						<span class="state" ng-if="ani.state">{{ani.state}}</span>
						<span class="genre">{{ani.genre | genre}}</span>
					</div>
				</a>
				<div class="no-result" ng-show="anis.length == 0">
					검색결과가 없습니다.
				</div>
				<div id="pages" ng-controller="AniListPageCtrler" ng-init="init()">
					<a class="page" ng-if="pages.length >= 2" ng-repeat="page in pages track by $index" ng-click="showPage($event, page)" ng-class="{highlight: page === current_page}">
						{{page}}
					</a>
				</div>
			</div>
		</script>
		<script type="text/x-template" id="T-anidetail">
			<div class="header">
				<div class="title">
					<span class="text">{{ani.title}}</span>
					<span class="state" ng-if="ani.state">{{ani.state}}</span>
				</div>
				<div class="info">
					<div class="text">
						<div class="row" ng-if="ani.comingsoon">
							<div class="label">방영예정날짜</div>
							<div class="value">{{ani.comingsoon}}</div>
						</div>
						<div class="row" ng-if="ani.weekday < 7 && !ani.ended">
							<div class="label">시간</div>
							<div class="value">{{ani.weekday | weekday}} {{ani.time | time4}}</div>
						</div>
						<div class="row" ng-if="ani.weekday > 6 || ani.ended">
							<div class="label">방영날짜</div>
							<div class="value">{{ani.startdate | date8}}</div>
						</div>
						<div class="row" ng-if="ani.ended">
							<div class="label">종영날짜</div>
							<div class="value">{{ani.enddate | date8}}</div>
						</div>
						<div class="row">
							<div class="label">장르</div>
							<div class="value">{{ani.genre | genre}}</div>
						</div>
						<div class="row">
							<div class="label">홈페이지</div>
							<div class="value" ng-if="ani.homepage">
								<a href="{{ani.homepage}}" title="{{ani.homepage}}">
									<img src="//www.google.com/s2/favicons?domain={{ani.homepage}}">
									{{ani.homepage | urlhost}}
								</a>
							</div>
							<div class="value" ng-if="!ani.homepage">
								찾을 수 없습니다.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="group-name">자막 ({{caps.length}}개)</div>
					<div class="group captions">
						<a class="caption" ng-class="{'no-url': !cap.url}" ng-click="checklink($event, cap.url)" href="{{cap.url}}" title="{{cap.url}}" ng-repeat="cap in caps track by $index">
							<div class="episode">{{cap.episode}}화</div>
							<div class="name">{{cap.name}}</div>
							<div class="updateat">{{cap.updateat | datetime14}}</div>
						</a>
						<div ng-if="caps_loading">
							<div class="caps-loading">
								로딩중……
							</div>
						</div>
						<div ng-if="!caps_loading && caps.length == 0">
							<div class="notfound">
								자막제작자를 찾을 수 없습니다.
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<!--
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
		<script>moment.locale('ko');</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>
		<script src="js/anion.js"></script>
	</body>
</html>
