// http://www.google.com/fonts/earlyaccess
// @import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');

$app-width = 480px
$text-color1 = #333
$text-color2 = #777
$text-color3 = #f6f6f6
// http://flatuicolors.com/
$green1 = #2ecc71
$green2 = #27ae60
$blue1 = #3498db
$blue2 = #2980b9
$black1 = #34495e
$black2 = #2c3e50

user-select(a)
	user-select a
	-moz-user-select a
	-webkit-user-select a

*, *:before, *:after
	box-sizing border-box

body
	overflow-x hidden
	overflow-y scroll
	min-width 320px
	font-size 12pt
	color #222
	background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMCAMAAABP7o1HAAAACVBMVEXx8fHv7+/y8vLz1QQmAAAAO0lEQVR42nWPAQoAIAgD1f8/OqlDiMPBYKk7KFoZ9fmpGOQc3FmLh5oEN80nm082H5uPzcfi01x/vi4OcRwAu6bHHywAAAAASUVORK5CYII=");
	margin-top 100px

body, body *
	font-family '나눔고딕', 'nanumgothic', '맑은 고딕', 'malgun gothic', sans-serif

.wf-active
	body, body *
		font-family 'Nanum Gothic', '나눔고딕', 'nanumgothic', '맑은 고딕', 'malgun gothic', sans-serif

a
	text-decoration none
	cursor pointer
	img
		border 0

a, a:visited
	color $green1

hr
	border 0
	border-top 1px
	border-style solid

.ellipsis
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

.hidden
	display none

.vhidden
	visibility hidden

::selection
	background-color #ffa
::-moz-selection
	background-color #ffa

.titlebar, .menuwrapper, main, footer
	margin 0 auto

.titlewrap
	position fixed
	top 0
	left 0
	right 0
	user-select none

//.titlebar, .menuwrapper
.titleinwrap
	// width 100%
	margin 0 auto
	max-width $app-width
	box-shadow 0 2px 2px rgba(60, 60, 60, .3)

.titlebar
	background-color $black1
	// border-bottom 1px solid $green1
	display table
	.title
		display table-cell
		width 100%
		min-width 100px
		text-align center
		color #fff
		font-size 14pt
		font-weight bold
		a
			color inherit
	.button
		display table-cell
		border 0
		padding 10px 15px
		width 50px
		&:hover
			background-color lighten($black1, 5%)


main, footer
	max-width $app-width
	background-color #fff
	box-shadow 0 2px 3px 0 #ccc

main
	padding 5px 0

footer
	padding 0 10px
	text-align center
	font-size 9pt
	color $text-color2
	noscript.warning
		display block
		margin 10px
		padding 10px
		border 1px solid #996
		border-radius 5px
		background-color #ffc
		color #663

.menuwrapper
	// padding-top 5px
	background-color $black2
	.divider
		width 90%
		color #ccc
	#menu
		overflow hidden
		.divider
			width 90%
			color $black1
		.menu-main
			.menu-item
				display block
				padding 5px 20px
				font-size 12pt
				color $text-color3
				&:hover
					background-color lighten($black1, 5%)
				&:after
					content '>'
					float right
					font-size 10pt
		.menu-anilist-more
			display table
			width 100%
			.menu-item
				display table-cell
				width 33.333%
				padding 7px 5px
				text-align center
				color $text-color3
				white-space nowrap
				&:hover
					background-color lighten($black1, 5%)
				&.highlight
					border-bottom 3px solid lighten($black1, 30%)
					font-weight bold
			.divider
				width 1px
				height 12px
				background-color lighten($black1, 5%)
		#today
			text-align center
			.date
				font-size 10pt
				color $text-color3
		#search
		text-align center
			#searchform
				width 95%
				padding 1px
				overflow hidden
				margin 10px auto
				display table
				border 1px solid lighten($black1, 5%)
				.innerwrap
					display table-row
					input
						padding 5px
						color $text-color3
						user-select text
						border 0
						background-color $black2
					.query, .submit
						display table-cell
					.query
						width 85%
						input
							width 100%
							&:focus
								outline 0
					.submit
						width 15%
						input
							width 100%
							font-size 10pt
							border-left 1px solid lighten($black1, 5%)

.weekdaybar
	display table
	width 100%
	a
		display table-cell
		text-align center
		margin 0
		padding 7px 5px
		color $text-color3
		&.highlight
			border-bottom 3px solid $green2
			font-weight bold
		&:not(.highlight)
			border-bottom 3px solid $black1
		&:hover
			background-color lighten($black1, 5%)
	.divider
		width 1px
		height 12px
		background-color lighten($black1, 5%)

#ani-list
	width 100%
	.item
		display block
		padding 10px 20px
		background-color #fff
		border-top 1px solid #ddd
		&:first-of-type
			border-top 0
		&:hover
			background-color #f6f6f6
		.title
			@extend .ellipsis
			font-size medium
			line-height 150%
			color $text-color1
		.info
			font-size 9pt
			line-height 150%
			color $text-color2
			.state
				font-weight bold
				color $green2
			.weekday
				display inline-block
				// margin-right .5em
				border 1px solid #ccc
				border-radius 3px
				padding 0 5px
	.no-result
		text-align center
		padding 10px 20px
		color $text-color1


#pages
	border-top 1px solid #ddd
	padding 0
	text-align center
	.page
		display inline-block
		padding 3px 10px
		margin 5px
		border 1px solid #ddd
		color $text-color1
		&.highlight
			font-weight bold
		&:hover
			background-color #f6f6f6
	&:empty
		display none

// --- ani detail ---
main.main-ani-detail
	hr
		border-color #ddd
	.header
		padding 10px 0
		.title
			margin 0 20px 10px
			.text
				font-size 16pt
				color $text-color1
			.state
				margin 5px
				font-size 12pt
				color $text-color2
		.info
			display table
			width 100%
			padding 0 20px
			.text, .imagecell
				display table-cell
			.text
				width 80%
				font-size 12pt
				color $text-color2
				.row
					border-top 1px solid #eee
					padding 10px 0
					.label
						font-size 10pt
						float left
					.value
						text-align right
					&:first-of-type
						border-top 0
			.imagecell
				.image
					vertical-align top
					margin-left 20px
					padding 5px
					outline 1px solid #ccc
			@media screen and (max-width 500px)
				.text, .imagecell
					display block
					width 100%
				.imagecell
					text-align center
				.image
					margin-left 0
		.divider
			color #eee
			width 95%
			margin-top 0
			margin-bottom 0
			&:last-of-type
				display none

	.content
		margin 5px 20px
		.notfound
			padding 10px
			text-align center
			font-size 10pt
		.group-name
			padding 5px 0 3px
			border-bottom 2px solid #eee
			color $text-color2
			font-size 10pt
		.captions
			display table
			border-collapse collapse
			width 100%
			.caption
				display table-row
				line-height 150%
				border-top 1px solid #eee
				.episode, .name, .updateat
					display table-cell
				.episode, .name
					padding 10px 5px
					color $text-color1
				.episode
					width 60px
					text-align right
				.updateat
					text-align right
					font-size 10pt
					color $text-color2
				&:first-of-type
					border-top 0
				&.no-url
					.episode, .name
						color $text-color2
		.links
			.link
				display block
				padding 10px
				border-top 1px solid #eee
				color $text-color1
				&:after
					content '>'
					float right
					font-size 10pt
					color $text-color2
				&:first-of-type
					border-top 0
		.share
			padding 20px
